# Azure Service Principal and Azure AppID
export SP_APP_ID=""
export SP_SECRET=""
export TENANT_ID=""
export SUBSCRIPTION_ID=""

# Project Configuration
export DEPARTMENT=""
export COUNTRY_CODE=""
export ENV=""
export ENVIRONMENT=""
export PROJECT_NAME=""
export PROJECT_NAME_FULL=""

# Resource
export RG_BACKEND_NAME=""  # this was created by Client's IT team 
export RG_BACKEND_LOC=""
export RESOUCE_NAME_PREFIX=$DEPARTMENT$COUNTRY_CODE$ENV
export STORAGE_ACCOUNT_NAME=""
export CONTAINER_BACKEND_NAME=""
export CONTAINER_RESOURCE_NAME=""

# DevOps
export DEVOPS_ORG_URL=""
export DEVOPS_PROJECT_NAME=""
export DEVOPS_VARIABLE_GROUP=""
export SERVICE_CONNECTION=""